<%- include('../partial/admin/header') %>
<div class="container">
    
    <h3>Dashboard</h3>
   
    <div class="row">
        <div class="col-sm-6" width="100px">
            <canvas id="myChart" ></canvas>
    
        </div>
        <div class="col-sm-6" width="100px">
            <canvas id="myChart1" ></canvas>
    
        </div>

    </div>
   
   
</div>



<%- include('../partial/admin/footer') %>