<%- include('../../partial/frontend/home-nav') %>

<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Forget Password</div>

    <div class="card-body">
      <form action="/user/ForgetPassword" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            type="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Send Mail
        </button>
      </form>
    </div>
  </div>
</div>
<%- include('../../partial/frontend/footer') %>
