<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
  <li
    class="nav-item"
    data-toggle="tooltip"
    data-placement="right"
    title="Dashboard"
  >
    <a class="nav-link" href="/admin/dashboard">
      <i class="fa fa-fw fa-dashboard"></i>
      <span class="nav-link-text">Dashboard</span>
    </a>
  </li>

  <li
    class="nav-item"
    data-toggle="tooltip"
    data-placement="right"
    title="Components"
  >
    <a
      class="nav-link nav-link-collapse collapsed"
      data-toggle="collapse"
      href="#collapsePage"
      data-parent="#exampleAccordion"
    >
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Page</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapsePage">
      <li>
        <a href="/admin/page">All Page</a>
      </li>

      <li>
        <a href="/admin/page/getAddPage">Create Page</a>
      </li>
    </ul>
  </li>
  <li
    class="nav-item"
    data-toggle="tooltip"
    data-placement="right"
    title="Components"
  >
    <a
      class="nav-link nav-link-collapse collapsed"
      data-toggle="collapse"
      href="#collapsePost"
      data-parent="#exampleAccordion"
    >
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Post</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapsePost">
      <li>
        <a href="/admin/post">My Post</a>
      </li>
      <li>
        <a href="/admin/post/getAddPost">Create Post</a>
      </li>
    </ul>
  </li>
  <li
    class="nav-item"
    data-toggle="tooltip"
    data-placement="right"
    title="Components"
  >
    <a
      class="nav-link nav-link-collapse collapsed"
      data-toggle="collapse"
      href="#collapseProduct"
      data-parent="#exampleAccordion"
    >
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Product</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseProduct">
      <li>
        <a href="/admin/product">All Product</a>
      </li>

      <li>
        <a href="/admin/product/getAddProduct">Create Product</a>
      </li>
    </ul>
  </li>

  <li
    class="nav-item"
    data-toggle="tooltip"
    data-placement="right"
    title="Components"
  >
    <a
      class="nav-link nav-link-collapse collapsed"
      data-toggle="collapse"
      href="#collapseCategory"
      data-parent="#exampleAccordion"
    >
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Category</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseCategory">
      <li>
        <a href="/admin/category">All Category</a>
      </li>
      <li>
        <a href="/admin/category/getAddCategory">Create Category</a>
      </li>
    </ul>
  </li>

  <li
  class="nav-item"
  data-toggle="tooltip"
  data-placement="right"
  title="Components"
>
  <a
    class="nav-link nav-link-collapse collapsed"
    data-toggle="collapse"
    href="#collapseSubCategory"
    data-parent="#exampleAccordion"
  >
    <i class="fa fa-fw fa-wrench"></i>
    <span class="nav-link-text">Sub Category</span>
  </a>
  <ul class="sidenav-second-level collapse" id="collapseSubCategory">
    <li>
      <a href="/admin/subCategory">All SubCategory</a>
    </li>
    <li>
      <a href="/admin/subCategory/getAddSubCategory">Create Category</a>
    </li>
  </ul>
</li>
  <li
    class="nav-item"
    data-toggle="tooltip"
    data-placement="right"
    title="Components"
  >
    <a
      class="nav-link nav-link-collapse collapsed"
      data-toggle="collapse"
      href="#collapseExam"
      data-parent="#exampleAccordion"
    >
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Exam</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseExam">
      <li>
        <a href="/admin/test/exam">All Exam</a>
      </li>
      <li>
        <a href="/admin/test/addExam">Add Exam</a>
      </li>
    </ul>
  </li>

  <li
    class="nav-item"
    data-toggle="tooltip"
    data-placement="right"
    title="Components"
  >
    <a
      class="nav-link nav-link-collapse collapsed"
      data-toggle="collapse"
      href="#collapseQuestion"
      data-parent="#exampleAccordion"
    >
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Question</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseQuestion">
      <li>
        <a href="/admin/test/question">All Question</a>
      </li>
      <li>
        <a href="/admin/test/addQuestion">Add Question</a>
      </li>
    </ul>
  </li>

  <li
    class="nav-item"
    data-toggle="tooltip"
    data-placement="right"
    title="Components"
  >
    <a
      class="nav-link nav-link-collapse collapsed"
      data-toggle="collapse"
      href="#collapseSubject"
      data-parent="#exampleAccordion"
    >
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Subject</span>
    </a>
    <ul class="sidenav-second-level collapse" id="collapseSubject">
      <li>
        <a href="/admin/test/subject">All Subject</a>
      </li>
      <li>
        <a href="/admin/test/addSubject">Add Subject</a>
      </li>
    </ul>
  </li>

  <li
    class="nav-item"
    data-toggle="tooltip"
    data-placement="right"
    title="Components"
  >
    <a class="nav-link" href="/admin/comment" data-parent="#exampleAccordion">
      <i class="fa fa-fw fa-wrench"></i>
      <span class="nav-link-text">Comment</span>
    </a>
  </li>
  <li
  class="nav-item"
  data-toggle="tooltip"
  data-placement="right"
  title="Components"
>
  <a class="nav-link" href="/admin/calender" data-parent="#exampleAccordion">
    <i class="fa fa-fw fa-wrench"></i>
    <span class="nav-link-text">Event Calender</span>
  </a>
</li>
 
  
</ul>
