<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div class="header">
    <div class="row" style="background: #b3caff;">
    <div class="col-sm-6">
    
    <h4 class="text-left" style="padding-top: 5px;padding-left:90px;">Exam Conducted By Your Institute <br>
    you are very best in class performance</h4>
    
    </div>
    <div class="col-sm-1 "></div>
    <div class="col-sm-2 ">
    
    </div>
    
    <div class="col-sm-3 ">
    <div class="align-right">
    <img class="card-img-top align-right" style="display: block;
    margin-left: auto;
    margin-right: auto;"src="http://placehold.it/50x50" alt="Card image cap">
    
    <h5 class="card-title text-center">Name:Prabhat Pandey</h5>
    <h5 class="card-title text-center">Email:PrabhatPandey@gmail.com</h5>
    </div>
    
    
    
    
    </div>
    </div>
    </div>
    </div>
    <br>

<div class="container">
<table class="table table-stripped">
    <tr><th>Exam Name</th><th>Exam Code</th><th>Marks per right answer</th><th>Marks per Wrong answer</th><th>Your Marks</th><th>Total Marks</th><th>Percentage</th></tr>
    <tr><td>Gate</td><td>Gcode</td><td>+1</td><td>-0.4</td><td>50</td><td>100</td><td>80%</td></tr>
</table>
<a href="/test/viewSolution" class="btn btn-info">View Solution</a>
</div>


