<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container-fluid">
    <div class="header">
    <div class="row" style="background: #b3caff;">
    <div class="col-sm-6">
    
    <h4 class="text-left" style="padding-top: 5px;padding-left:90px;">Exam Conducted By Your Institute <br>
    you are very best in class performance</h4>
    
    </div>
    <div class="col-sm-1 "></div>
    <div class="col-sm-2 ">
    
    </div>
    
    <div class="col-sm-3 ">
    <div class="align-right">
    <img class="card-img-top align-right" style="display: block;
    margin-left: auto;
    margin-right: auto;"src="http://placehold.it/50x50" alt="Card image cap">
    
    <h5 class="card-title text-center">Name:Prabhat Pandey</h5>
    <h5 class="card-title text-center">Email:PrabhatPandey@gmail.com</h5>
    </div>
    
    
    
    
    </div>
    </div>
    </div>
    </div>
    <br>
<div class="container">
    
<div class="col-sm-12">
    <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
    
    <hr>
    
    <div class="row" style="height: 45%;">
    <div class="col-md-6"> 
    <label class="radio-inline" style="margin:10px; font-size: 16px;"  >
    <input type="radio" name="box" id="five" disabled> 
    option 1 this is the best options this is the best options this is the best options this 
    </label>
    </div>
    
    <div class="col-md-6"> 
    <label class="radio-inline" style="margin:10px; font-size: 16px;">
    <input type="radio" name="box" id="five" disabled> 
    option 2 this is the best options this is the best options this is the best options this 
    </label>
    </div>
    <div class="col-md-6"> 
    <label class="radio-inline" style="margin:10px; font-size: 16px;">
    <input type="radio" name="box" id="five" disabled> 
    option 3 this is the best options this is the best options this 
    </label>
    </div>
    <div class="col-md-6"> 
    <label class="radio-inline" style="margin:10px; font-size: 16px;">
    <input type="radio" name="box" id="five" disabled> 
    option 4 this is the best options this is the best options this 
    </label>
    </div>
    <div class="col-md-6"> 
    <label class="radio-inline" style="margin:10px; font-size: 16px;">
    <input type="radio" name="box" id="five" disabled> 
    option 5 this is the best options this is the best options this 
    </label>
    </div>
    </div>
    
   
    </div>
    <div class="col-sm-12">
        <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
        
        <hr>
        
        <div class="row" style="height: 45%;">
        <div class="col-md-6"> 
        <label class="radio-inline" style="margin:10px; font-size: 16px;">
        <input type="radio" name="box" id="five"> 
        option 1 this is the best options this is the best options this is the best options this 
        </label>
        </div>
        
        <div class="col-md-6"> 
        <label class="radio-inline" style="margin:10px; font-size: 16px;">
        <input type="radio" name="box" id="five"> 
        option 2 this is the best options this is the best options this is the best options this 
        </label>
        </div>
        <div class="col-md-6"> 
        <label class="radio-inline" style="margin:10px; font-size: 16px;">
        <input type="radio" name="box" id="five"> 
        option 3 this is the best options this is the best options this 
        </label>
        </div>
        <div class="col-md-6"> 
        <label class="radio-inline" style="margin:10px; font-size: 16px;">
        <input type="radio" name="box" id="five"> 
        option 4 this is the best options this is the best options this 
        </label>
        </div>
        <div class="col-md-6"> 
        <label class="radio-inline" style="margin:10px; font-size: 16px;">
        <input type="radio" name="box" id="five"> 
        option 5 this is the best options this is the best options this 
        </label>
        </div>
        </div>
        
       
        
        </div>
        <div class="col-sm-12">
            <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
            
            <hr>
            
            <div class="row" style="height: 45%;">
            <div class="col-md-6"> 
            <label class="radio-inline" style="margin:10px; font-size: 16px;">
            <input type="radio" name="box" id="five"> 
            option 1 this is the best options this is the best options this is the best options this 
            </label>
            </div>
            
            <div class="col-md-6"> 
            <label class="radio-inline" style="margin:10px; font-size: 16px;">
            <input type="radio" name="box" id="five"> 
            option 2 this is the best options this is the best options this is the best options this 
            </label>
            </div>
            <div class="col-md-6"> 
            <label class="radio-inline" style="margin:10px; font-size: 16px;">
            <input type="radio" name="box" id="five"> 
            option 3 this is the best options this is the best options this 
            </label>
            </div>
            <div class="col-md-6"> 
            <label class="radio-inline" style="margin:10px; font-size: 16px;">
            <input type="radio" name="box" id="five"> 
            option 4 this is the best options this is the best options this 
            </label>
            </div>
            <div class="col-md-6"> 
            <label class="radio-inline" style="margin:10px; font-size: 16px;">
            <input type="radio" name="box" id="five"> 
            option 5 this is the best options this is the best options this 
            </label>
            </div>
            </div>
            
           
            
            </div>
            <div class="col-sm-12">
                <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                
                <hr>
                
                <div class="row" style="height: 45%;">
                <div class="col-md-6"> 
                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                <input type="radio" name="box" id="five"> 
                option 1 this is the best options this is the best options this is the best options this 
                </label>
                </div>
                
                <div class="col-md-6"> 
                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                <input type="radio" name="box" id="five"> 
                option 2 this is the best options this is the best options this is the best options this 
                </label>
                </div>
                <div class="col-md-6"> 
                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                <input type="radio" name="box" id="five"> 
                option 3 this is the best options this is the best options this 
                </label>
                </div>
                <div class="col-md-6"> 
                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                <input type="radio" name="box" id="five"> 
                option 4 this is the best options this is the best options this 
                </label>
                </div>
                <div class="col-md-6"> 
                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                <input type="radio" name="box" id="five"> 
                option 5 this is the best options this is the best options this 
                </label>
                </div>
                </div>
                
               
                
                </div>
                <div class="col-sm-12">
                    <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                    
                    <hr>
                    
                    <div class="row" style="height: 45%;">
                    <div class="col-md-6"> 
                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                    <input type="radio" name="box" id="five"> 
                    option 1 this is the best options this is the best options this is the best options this 
                    </label>
                    </div>
                    
                    <div class="col-md-6"> 
                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                    <input type="radio" name="box" id="five"> 
                    option 2 this is the best options this is the best options this is the best options this 
                    </label>
                    </div>
                    <div class="col-md-6"> 
                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                    <input type="radio" name="box" id="five"> 
                    option 3 this is the best options this is the best options this 
                    </label>
                    </div>
                    <div class="col-md-6"> 
                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                    <input type="radio" name="box" id="five"> 
                    option 4 this is the best options this is the best options this 
                    </label>
                    </div>
                    <div class="col-md-6"> 
                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                    <input type="radio" name="box" id="five"> 
                    option 5 this is the best options this is the best options this 
                    </label>
                    </div>
                    </div>
                    
                   
                    
                    </div>
                    <div class="col-sm-12">
                        <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                        
                        <hr>
                        
                        <div class="row" style="height: 45%;">
                        <div class="col-md-6"> 
                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                        <input type="radio" name="box" id="five"> 
                        option 1 this is the best options this is the best options this is the best options this 
                        </label>
                        </div>
                        
                        <div class="col-md-6"> 
                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                        <input type="radio" name="box" id="five"> 
                        option 2 this is the best options this is the best options this is the best options this 
                        </label>
                        </div>
                        <div class="col-md-6"> 
                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                        <input type="radio" name="box" id="five"> 
                        option 3 this is the best options this is the best options this 
                        </label>
                        </div>
                        <div class="col-md-6"> 
                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                        <input type="radio" name="box" id="five"> 
                        option 4 this is the best options this is the best options this 
                        </label>
                        </div>
                        <div class="col-md-6"> 
                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                        <input type="radio" name="box" id="five"> 
                        option 5 this is the best options this is the best options this 
                        </label>
                        </div>
                        </div>
                        
                       
                        
                        </div>
                        <div class="col-sm-12">
                            <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                            
                            <hr>
                            
                            <div class="row" style="height: 45%;">
                            <div class="col-md-6"> 
                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                            <input type="radio" name="box" id="five"> 
                            option 1 this is the best options this is the best options this is the best options this 
                            </label>
                            </div>
                            
                            <div class="col-md-6"> 
                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                            <input type="radio" name="box" id="five"> 
                            option 2 this is the best options this is the best options this is the best options this 
                            </label>
                            </div>
                            <div class="col-md-6"> 
                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                            <input type="radio" name="box" id="five"> 
                            option 3 this is the best options this is the best options this 
                            </label>
                            </div>
                            <div class="col-md-6"> 
                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                            <input type="radio" name="box" id="five"> 
                            option 4 this is the best options this is the best options this 
                            </label>
                            </div>
                            <div class="col-md-6"> 
                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                            <input type="radio" name="box" id="five"> 
                            option 5 this is the best options this is the best options this 
                            </label>
                            </div>
                            </div>
                            
                           
                            
                            </div>
                            <div class="col-sm-12">
                                <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                                
                                <hr>
                                
                                <div class="row" style="height: 45%;">
                                <div class="col-md-6"> 
                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                <input type="radio" name="box" id="five"> 
                                option 1 this is the best options this is the best options this is the best options this 
                                </label>
                                </div>
                                
                                <div class="col-md-6"> 
                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                <input type="radio" name="box" id="five"> 
                                option 2 this is the best options this is the best options this is the best options this 
                                </label>
                                </div>
                                <div class="col-md-6"> 
                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                <input type="radio" name="box" id="five"> 
                                option 3 this is the best options this is the best options this 
                                </label>
                                </div>
                                <div class="col-md-6"> 
                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                <input type="radio" name="box" id="five"> 
                                option 4 this is the best options this is the best options this 
                                </label>
                                </div>
                                <div class="col-md-6"> 
                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                <input type="radio" name="box" id="five"> 
                                option 5 this is the best options this is the best options this 
                                </label>
                                </div>
                                </div>
                                
                               
                                
                                </div>
                                <div class="col-sm-12">
                                    <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                                    
                                    <hr>
                                    
                                    <div class="row" style="height: 45%;">
                                    <div class="col-md-6"> 
                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                    <input type="radio" name="box" id="five"> 
                                    option 1 this is the best options this is the best options this is the best options this 
                                    </label>
                                    </div>
                                    
                                    <div class="col-md-6"> 
                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                    <input type="radio" name="box" id="five"> 
                                    option 2 this is the best options this is the best options this is the best options this 
                                    </label>
                                    </div>
                                    <div class="col-md-6"> 
                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                    <input type="radio" name="box" id="five"> 
                                    option 3 this is the best options this is the best options this 
                                    </label>
                                    </div>
                                    <div class="col-md-6"> 
                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                    <input type="radio" name="box" id="five"> 
                                    option 4 this is the best options this is the best options this 
                                    </label>
                                    </div>
                                    <div class="col-md-6"> 
                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                    <input type="radio" name="box" id="five"> 
                                    option 5 this is the best options this is the best options this 
                                    </label>
                                    </div>
                                    </div>
                                    
                                   
                                    
                                    </div>
                                    <div class="col-sm-12">
                                        <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                                        
                                        <hr>
                                        
                                        <div class="row" style="height: 45%;">
                                        <div class="col-md-6"> 
                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                        <input type="radio" name="box" id="five"> 
                                        option 1 this is the best options this is the best options this is the best options this 
                                        </label>
                                        </div>
                                        
                                        <div class="col-md-6"> 
                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                        <input type="radio" name="box" id="five"> 
                                        option 2 this is the best options this is the best options this is the best options this 
                                        </label>
                                        </div>
                                        <div class="col-md-6"> 
                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                        <input type="radio" name="box" id="five"> 
                                        option 3 this is the best options this is the best options this 
                                        </label>
                                        </div>
                                        <div class="col-md-6"> 
                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                        <input type="radio" name="box" id="five"> 
                                        option 4 this is the best options this is the best options this 
                                        </label>
                                        </div>
                                        <div class="col-md-6"> 
                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                        <input type="radio" name="box" id="five"> 
                                        option 5 this is the best options this is the best options this 
                                        </label>
                                        </div>
                                        </div>
                                        
                                       
                                        
                                        </div>
                                        <div class="col-sm-12">
                                            <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                                            
                                            <hr>
                                            
                                            <div class="row" style="height: 45%;">
                                            <div class="col-md-6"> 
                                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                            <input type="radio" name="box" id="five"> 
                                            option 1 this is the best options this is the best options this is the best options this 
                                            </label>
                                            </div>
                                            
                                            <div class="col-md-6"> 
                                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                            <input type="radio" name="box" id="five"> 
                                            option 2 this is the best options this is the best options this is the best options this 
                                            </label>
                                            </div>
                                            <div class="col-md-6"> 
                                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                            <input type="radio" name="box" id="five"> 
                                            option 3 this is the best options this is the best options this 
                                            </label>
                                            </div>
                                            <div class="col-md-6"> 
                                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                            <input type="radio" name="box" id="five"> 
                                            option 4 this is the best options this is the best options this 
                                            </label>
                                            </div>
                                            <div class="col-md-6"> 
                                            <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                            <input type="radio" name="box" id="five"> 
                                            option 5 this is the best options this is the best options this 
                                            </label>
                                            </div>
                                            </div>
                                            
                                           
                                            
                                            </div>
                                            <div class="col-sm-12">
                                                <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                                                
                                                <hr>
                                                
                                                <div class="row" style="height: 45%;">
                                                <div class="col-md-6"> 
                                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                <input type="radio" name="box" id="five"> 
                                                option 1 this is the best options this is the best options this is the best options this 
                                                </label>
                                                </div>
                                                
                                                <div class="col-md-6"> 
                                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                <input type="radio" name="box" id="five"> 
                                                option 2 this is the best options this is the best options this is the best options this 
                                                </label>
                                                </div>
                                                <div class="col-md-6"> 
                                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                <input type="radio" name="box" id="five"> 
                                                option 3 this is the best options this is the best options this 
                                                </label>
                                                </div>
                                                <div class="col-md-6"> 
                                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                <input type="radio" name="box" id="five"> 
                                                option 4 this is the best options this is the best options this 
                                                </label>
                                                </div>
                                                <div class="col-md-6"> 
                                                <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                <input type="radio" name="box" id="five"> 
                                                option 5 this is the best options this is the best options this 
                                                </label>
                                                </div>
                                                </div>
                                                
                                               
                                                
                                                </div>
                                                <div class="col-sm-12">
                                                    <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                                                    
                                                    <hr>
                                                    
                                                    <div class="row" style="height: 45%;">
                                                    <div class="col-md-6"> 
                                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                    <input type="radio" name="box" id="five"> 
                                                    option 1 this is the best options this is the best options this is the best options this 
                                                    </label>
                                                    </div>
                                                    
                                                    <div class="col-md-6"> 
                                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                    <input type="radio" name="box" id="five"> 
                                                    option 2 this is the best options this is the best options this is the best options this 
                                                    </label>
                                                    </div>
                                                    <div class="col-md-6"> 
                                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                    <input type="radio" name="box" id="five"> 
                                                    option 3 this is the best options this is the best options this 
                                                    </label>
                                                    </div>
                                                    <div class="col-md-6"> 
                                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                    <input type="radio" name="box" id="five"> 
                                                    option 4 this is the best options this is the best options this 
                                                    </label>
                                                    </div>
                                                    <div class="col-md-6"> 
                                                    <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                    <input type="radio" name="box" id="five"> 
                                                    option 5 this is the best options this is the best options this 
                                                    </label>
                                                    </div>
                                                    </div>
                                                    
                                                   
                                                    
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <h4 class="fw-bold mt-5">2. Complete the following sentences:Alice couldn't _______ the humilation any longer and stormed out of the room red as a bed</h4>
                                                        
                                                        <hr>
                                                        
                                                        <div class="row" style="height: 45%;">
                                                        <div class="col-md-6"> 
                                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                        <input type="radio" name="box" id="five"> 
                                                        option 1 this is the best options this is the best options this is the best options this 
                                                        </label>
                                                        </div>
                                                        
                                                        <div class="col-md-6"> 
                                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                        <input type="radio" name="box" id="five"> 
                                                        option 2 this is the best options this is the best options this is the best options this 
                                                        </label>
                                                        </div>
                                                        <div class="col-md-6"> 
                                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                        <input type="radio" name="box" id="five"> 
                                                        option 3 this is the best options this is the best options this 
                                                        </label>
                                                        </div>
                                                        <div class="col-md-6"> 
                                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                        <input type="radio" name="box" id="five"> 
                                                        option 4 this is the best options this is the best options this 
                                                        </label>
                                                        </div>
                                                        <div class="col-md-6"> 
                                                        <label class="radio-inline" style="margin:10px; font-size: 16px;">
                                                        <input type="radio" name="box" id="five"> 
                                                        option 5 this is the best options this is the best options this 
                                                        </label>
                                                        </div>
                                                        </div>
                                                        
                                                       
                                                        
                                                        </div>
    
    
</div>
